* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sp-white: #ffffff;
    --sp-black: #000000;
    --sp-primary: #141922; --sp-light: #c1c1c1;
    --sp-dark: #282828;
    --sp-dark-soft: #727479;
    --sp-success: #adff2f;
}


body {
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
}

.page_top {
    display: flex;
}

.prova{
    position: relative;
}

.prova::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 2px;
    background-color: var(--sp-success);
}

.underline hr{
   
    border: 1px solid var(--sp-success);
}


.side_bar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--sp-black);
    color: var(--sp-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.upgrade-bar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.493);
}

.principal {
    width:  calc(100% - 230px);
    height: calc(100vh - 90px);
    background-color: var(--sp-primary);
}

.page_bottom {
    height: 90px;
    background-color: var(--sp-dark);
}

p {
    color: var(--sp-light);
    padding-left: 0.5rem;
}

a{
    text-decoration: none;
    color: var(--sp-light);
    padding: 0.5rem;

}

h2 {
    color: var(--sp-white);
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.card h4 {
    color: var(--sp-white);
    text-align: center;
    padding: 0.5rem 0;
}

.card h6 {
    color: var(--sp-dark-soft);
    text-align: center;
}

/*#region debug*/
.debug .menu,
.debug .account {
    background-color: grey;
    margin: 1rem;

}

.debug .menu {
    height: 500px;

}

.debug .account {
    height: 50px;
}

/*#endregion debug*/


/*#region utilities*/

.container {
    height: calc(100% - 90px);
    overflow: auto;
    padding: 1rem;
}

.row {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;

}

.col-12 {
    width: calc(100% / 12 * 2);
    
    
}

.card {
    padding: .5rem;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.filters {
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

/*#endregion utilities*/

/* Mobile */
.mobile-top, .mobile-bottom{
    padding: .7rem;
}

.mobile-logo{
    padding-bottom: 1rem;
    filter: brightness(10000%);
}

.download{
    width: 20px;
}

.mobile-home, .mobile-library{
    padding-bottom: .5rem;
}

.circle{
    padding-left: 2px;
    padding-top: 1rem;
}


/* End Sidebar */

/*#region upgrade-bar*/
.upgrade-bar{
    justify-content: flex-end;
    align-items: center;
}

.upgrade-btn{
    border: 1px solid var(--sp-light);
    border-radius: 30px;
    padding: 0 2rem; 
    
}

.upgrade-btn a{
    color: white;
}

/*#endregion upgrade-bar*/

/*#region side bar*/

.side_bar {
    overflow: hidden;
}

.side_bar, .menu{
    display: flex;
    flex-direction: column;
   
}

.logo{
    padding: 1rem;
 
}

.logo img{
    width: 75%;
}

.home-border {
    border-left: 3px solid var(--sp-success);
}

.home {
    
    color: white;
  }

.menu i {
    padding-right: .5rem;
   
}

.home, .search, .library{
    padding: 0.2rem 1rem;
    gap: 0.5rem;
}

.playlist{
    padding: 2rem 1rem;
   
}

.playlist-menu{
    flex-direction: column;
    align-items: start;
    overflow: auto;
    height: 220px;
}

.account img {
    width: 20px;
}

.playlist h4 {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.plus_playlist {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

button.plus {
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.account {
    margin: 0 1rem;
}

.profile{
    width: 25px;
    aspect-ratio: 1/1;
    background-color: var(--sp-light);
    border-radius: 50%;
    overflow: hidden;
}

.install {
    gap: 0.5rem;
}

/*#endregion side bar*/


/*#region page bottom*/

.page_bottom img{
    width: 50px;
    
    
}

.player{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.cover{
    padding-right: 1rem;
}

.song{
    padding-right: 1.5rem;
}

.song h4{
    color: var(--sp-white);
    
}

.song h5{
    color: var(--sp-light);
}

.like{
    color: var(--sp-light);
    padding-left: 1rem;
}

.fa-folder{
    padding-left: .6rem;
}


.controls{
    padding: .5rem 0 1.5rem;
    color: var(--sp-white);
    gap: 1.5rem;
}

.main-play{
    padding: 0 1rem;
}


.length h6{
    color: var(--sp-white);
}

.length{
    width: 40vw;
}

.length-bar{
    width: 100%;
}

.length-bar, .volume-bar{
    background-color: var(--sp-light);
    border-radius: 15px;
    
}


.volume-bar{
    width: 5vw;
  }
  
  .minute{
      padding: 0 1rem;
  }
  
  .settings{
      gap: 1rem;
  }
  
  .live-time, .live-volume{
  
      background-color: var(--sp-white);
      width: 3vw;
      height: .3rem;
      border-radius: 15px;
  }
  
  
  
  .settings{
      color: var(--sp-white);
  }


/*#endregion pege bottom*/

/*#region effects*/
.side_bar a:hover h4{
    color: var(--sp-white);
}

.side_bar a:hover .plus{
    background-color: white;
}
.side_bar a:hover .home img {
    filter: brightness(150%);
}

.side_bar a:hover .search img {
    filter: brightness(150%);
}

.side_bar a:hover .library img {
    filter: brightness(150%);
}

.side_bar a:hover .install img {
    filter: brightness(150%);
}

.upgrade-btn:hover{
    transform: scale(1.2);
  
}

.filters a:hover{
    color: var(--sp-white);
}

.card:hover img{
 filter: brightness(60%);
}


.song-name:hover h5{
    color: var(--sp-white);
    text-decoration: underline;
  }
  
  .fa-heart:hover, .fa-folder:hover, .fa-list-ul:hover, .fa-display:hover, .fa-volume-high:hover {
    color: var(--sp-white);
  }


.length-bar:hover .handle, .volume-bar:hover .handle{
    display: flex;
}

.length-bar:hover .live-time, .volume-bar:hover .live-volume{
    background-color: var(--sp-success);
}

.main-play:hover{
    transform: scale(1.2);
}


.wrapper {
    position: relative;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    font-size: 2rem;
 
}

.card:hover .overlay {
    opacity: 1;
  }


/*#region media query*/


@media screen and (max-width: 2500px) {
    .col-lg-2 {
        width: calc(100% /12 * 2);
    }
    .mobile-top, .mobile-bottom{
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .col-lg-2 {
        width: calc(100% /12 * 3);
    }
    .mobile-top, .mobile-bottom{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .volume-bar, .cover {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .col-md-3 {
        width: calc(100% /12 * 6);
    }
    .like{
        display: flex;
        flex-direction: column;
        
    }

    .fa-folder{
        padding: .5rem 0 0;
    }
    .mobile-top, .mobile-bottom{
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .side_bar{
        width: 50px;
    }
    
    .principal{
        width: calc(100% - 50px);
    }

    .principal{
        width: calc(100% - 50px);
    }

    .menu, .account{
        display: none;
    }

    .controls{
        font-size: .8rem;
        gap: 1rem;
        padding: 1rem .5rem;
    }
    .mobile-top, .mobile-bottom{
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width: 370px) {

    .like, .queue{
        display: none;
    }

    .settings{
        gap: .5rem;
    }

}